body{
    color: red;
    text-align: center;
    background-color: rgb(82, 94, 104);
}
h1{
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    text-shadow: 4px 4px darkred;

}
ul{
    font-size: 20px;
    text-align: left;
    list-style: square;
}
